log/
docker/db
.env
umarche/node_modules
umarche/public/build
umarche/public/hot
umarche/public/storage
umarche/storage/*.key
umarche/vendor
umarche/.env
umarche/.env.backup
umarche/.env.production
umarche/.phpunit.result.cache
umarche/Homestead.json
umarche/Homestead.yaml
umarche/auth.json
umarche/npm-debug.log
umarche/yarn-error.log
umarche/.fleet
umarche/.idea
umarche/.vscode
