.swiper {
  height: 330px;
}

.swiper-slide {
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.swiper-slide img {
  display: inline;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  object-fit: cover;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.swiper-button-prev {
  color: #fff !important;
}

.swiper-button-next {
  color: #fff !important;
}
